@{
    ViewData["Title"] = "聯絡";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    台灣省台北市<br />
    <abbr title="電話">電話:</abbr>
    0928-917746
</address>

<address>
    <strong>信箱:</strong> <a href="mailto:rxyes@hotmail.com">rxyes@hotmail.com</a>
</address>
