@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <article class="markdown-body entry-content" itemprop="text">
            <h1><a href="#2018-software-developer-實作考題-i" aria-hidden="true" class="anchor" id="user-content-2018-software-developer-實作考題-i"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>2018 Software Developer 實作考題 (I)</h1>
            <p>請依照虛擬情境的描述及所要求之技術，達成情境描述的系統</p>
            <p>
                <strong> 
                    為了讓每次的系統故障排除，都可以成為後續該系統的QA，讓使用者可以事先瀏覽排除方法，自行解決問題。請建置此需求系統，可以供IT維護人員維護，
                    也可以讓用戶瀏覽問題，除了滿足以下幾點原始需求，此外，也請發揮創新，讓這系統能有與眾不同的亮點
                </strong>
            </p>
            <h5><a href="#原始需求" aria-hidden="true" class="anchor" id="user-content-原始需求"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>原始需求</h5>
            <ol>
                <li>多套系統的故障排除方法都會被技術在這平台</li>
                <li>能讓用戶快速找到問題解答方法，以及針對問題解答反饋與討論</li>
                <li>具有權限管控，管者者和用戶的功能是不同的</li>
                <li>能在PC和Mobile都可以使用此系統</li>
                <li>能在紀錄資訊的內容中放入圖片，User &amp; System Owner皆如此</li>
            </ol>
            <h1><a href="#skill-requirement" aria-hidden="true" class="anchor" id="user-content-skill-requirement"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Skill Requirement</h1>
            <blockquote>
                <p>環境</p>
            </blockquote>
            <ul>
                <li>請將開發之系統，佈署至Micrsoft Azure (可免費使用30天)</li>
                <li>請將程式碼透過Visual Studio Team Service進行版控 (可免費使用)</li>
            </ul>
            <blockquote>
                <p>技術</p>
            </blockquote>
            <ul>
                <li>Web Back-end : 請使用ASP.Net Core 2.0進行開發</li>
                <li>Web Front-end : 不限制任何Framework</li>
                <li>Mobile : 請用Native App形式呈現尤佳</li>
                <li>DataBase : MS SQL</li>
            </ul>
            <h1><a href="#acceptance-criteria" aria-hidden="true" class="anchor" id="user-content-acceptance-criteria"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Acceptance Criteria</h1>
            <blockquote>
                <p>時間</p>
            </blockquote>
            <ul>
                <li>2018/01/15~2018/02/02</li>
                <li>請再跟HR約第二次面談時間</li>
            </ul>
            <blockquote>
                <p>成果展示</p>
            </blockquote>
            <ul>
                <li>於第二次面試時間的前一週，把自己的Code從VSTS搬移到Github的<code>Repository</code>並邀請此帳號加入</li>
                <li>提供Azure Web Site Url，以供瀏覽成果</li>
            </ul>
            <blockquote>
                <p>第二次面試時，請現場Demo作品及說明系統架構</p>
            </blockquote>
            <ul>
                <li>Demo時，請直接使用Azure Web Site成品說明</li>
                <li>當天顯示Visual Studio Team Server版控歷史紀錄</li>
            </ul>
            <blockquote>
                <p>請依照<code>Description</code>，發揮創意、設計解決方案</p>
            </blockquote>
            <blockquote>
                <p>第二次面試時，請說出您對於<code>DevOps</code>的認知與看法</p>
            </blockquote>
        </article>

    </div>
   
</div>
